.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          -#%h3.masthead-brand Hundred Best Days
          %ul.nav.masthead-nav
            %li.active
              %a{href: "#"} About
            %li
              %a{href: "#"} Contact
      .inner.cover
        %h1.cover-heading Hundred Best Days
        %p.lead 
          %form.form-signin{role: "form"}
            %a.btn.btn-lg.btn-primary.btn-block{href: "/auth/facebook", id: "sign_in"} Sign in with Facebook
        -#%p.lead
          %a.btn.btn-lg.btn-default{href: "#"} Sign in
      .mastfoot
        .inner
          %p
            Project by
            %a{href: "http://github.com/peterkinmond"} Peter Kinmond
