.container.container-signin
  %form.form-signin{role: "form"}
    %h2.form-signin-heading Hundred Best Days
    %input.form-control{autofocus: "", placeholder: "Email address", required: "", type: "email"}/
    %input.form-control{placeholder: "Password", required: "", type: "password"}/
    %label.checkbox
      %input{type: "checkbox", value: "remember-me"}/
      Remember me
    %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Sign in
