.container
  .row  
    .col-md-12
      %section.timeline
        %ul.cbp_tmtimeline
          - @events.each do |event|
            %li
              %time.cbp_tmtime{ datetime: event.date}
                %span= event.date.strftime("%b %d")
                %span= event.date.year
              .cbp_tmicon.cbp_tmicon-phone
              .cbp_tmlabel
                %h2= event.title 
                %p= event.title
