.container
  .row  
    .col-md-12
      %section.timeline
        %ul.years
          - @years.each do |year|
            %li.year
              %time
                = year
              -#- @events.each do |event|
                -#.event-container
                  -#.event-header
                    -#= event.date
                  -#.event-body
                    -#= event.title
