.container
  .row  
    .col-md-12
      %section
        %ul.timeline
          - @events.each do |event|
            %li
              %time.time{ datetime: event.date}
                %span= event.date.strftime("%b %d")
                %span= event.date.year
              .event_icon
              .event_body
                %h2= event.title 
                %p= truncate(event.description, length: 400)
